body {
    margin: 0%;
    background-color: grey;
    height: 100%;
    color: whitesmoke;
}

#background {
    position: fixed;
    top: 0;
    right: 0;
    width: 40vw;
    height: 100%;
    background-color: rgb(62, 61, 61); 
}

#form {
    background-color: rgb(62, 61, 61);
    position: fixed;
    top: 10vh;
    left: 20px;
    width: 52vw;
    max-width: 400px;
    padding: 1rem;
    border-style: solid;
    border-radius: 12px;
    border-color: rgb(255, 249, 249);
    border-width: 3px;
}

input,
textarea {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #aba9a9;
}

#commentBox {
    padding-top: 1rem;
    word-break: break-all;
    color: azure;
    height: 100vh;
    position: absolute;
    left: 60vw;
}

button {
    position: absolute;
    background-color: green;
    border-radius: 5px;
    border: none;
    right: 28px;
    bottom: 29px;
}
